<div class="baumai">
    <img src="../../assets/img/Baumi.png" width="1880" height="700" >
    <div class="blackbox"></div>
    <h1>LoremIpsum LoremIpsum LoremIpsum</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras volutpat neque quis fermentum vulputate. Sed ut sagittis tortor, vel sagittis quam. Vestibulum eget massa sed urna varius dapibus. Mauris sed mi eget leo vestibulum rutrum id eu est. Nulla non lectus urna. In gravida mauris quis diam dictum egestas. Quisque non felis eu augue vulputate vulputate. Quisque ut leo suscipit, consequat ex quis, interdum urna.</p>
    <button mat-button class="btn">Lorem Ipsum</button>
</div>

