img{

    width: 300px;
    
    height: 320px;
    
    margin: 50px 50px 30px 100px;
    
    }

    lu {
        list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
    }

    p {
        display: block;
        padding: 10px 125px;
        word-spacing: 10px;
        float: left;
    }